:root {
    --bg-color: #070707;
    --primary-color: #2C2FFF;
    --blue: #0003DB;
    --dark-blue: #000275;
    --yellow: #FFBB00;
    --dark-yellow: #483500;
    --white: #ffffff;
    --black: #000000;

    --primary-font: 'Poppins';
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--primary-font);
    font-size: 1.6rem;
    background-color: var(--bg-color);
    color: var(--white);
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    width: 100%;
    object-fit: cover;
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
}

.content {
    max-width: 1050px;
    margin: 0 auto;
    width: 90%;
}

.section {
    padding: 7rem 0px;
}

.section .section__title {
    text-transform: uppercase;
    max-width: 400px;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

.section .section__title--proyecto {
    text-transform: uppercase;
    border-bottom: 2px solid var(--white);
    padding-bottom: 3rem;
    max-width: 45rem;
}

@media(max-width:480px) {
    .section .section__title--proyecto {
        font-size: 2.2rem;
        line-height: 4rem;
    }
}

.section__title--proyecto.wd--100 {
    max-width: 100%;
}

h1,
h2,
h3 {
    margin: 0px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-weight: 400;
    margin-top: 2rem;
    font-size: 20px;
    line-height: 2rem;
}

p {
    font-weight: 200;

    font-size: 14px;
    line-height: 2rem;
}