/* ::::::::::::: HEADER:BANNER :::::::::::*/
header .banner{
    padding: 5rem 0px;
}
header .banner img{
    max-width: 40rem;
    margin: 0 auto;
}


/* ::::::::::::: SECTION:INTERFACE :::::::::::*/

.section--interfaz .section__body{
    margin-top: 5rem;
}
.section--interfaz .section__body ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 3rem;
    margin-top: 3rem;
}
.section--interfaz .section__body ul img{
    height: 100%;
    object-fit: cover;
}
@media(max-width:768px){
    .section--interfaz .section__body ul{
        grid-template-columns: repeat(2,1fr);
        row-gap: 5rem;
    }
    .section--interfaz .section__body img{
        max-width: 25rem;
        margin: 0 auto;
    }
}
@media(max-width:480px){
    .section--interfaz .section__body ul{
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        row-gap: 4rem;
    }
}